<table class="table w-100">
  <thead>
    <tr>
      <th>SR No.</th>
      <th>URL</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%@output.keys.each_with_index do |key,i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= key %></td>
        <td><%#= link_to root_path, class:'btn btn-info btn-sm' %></td>
      </tr>
    <% end %>  
  </tbody>
</table>